@import url('http://fonts.cdnfonts.com/css/arcade-classic');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/background-canvas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#score{
    background-color: black;
    display: flex;
}

canvas {
    border: 1px solid white;
    margin: 100px auto 50px auto;
    display: block;
}

div{
    text-align: center;
}

button {
    padding: 10px 15px;
    font-weight: bold;
    letter-spacing: 2px;
}